#mywebsite {
    font-family:Arial, Helvetica, sans-serif;
    margin:auto;
}

#landing {
    height:1050px;
    background-image: url('../css/img/landing-img.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-position: center top;
    background-size: cover;
    color:white;
}

#landing h1 {
    font-size: 65px;
    position:relative;
}

#landing p {
    font-size: 25px;
    position: relative;
    margin-top: -30px;
}


